<div class="form-container mt-5">
    <h1 class="mt-4">Add Treasury Definition</h1>

    <form class="mt-4" [formGroup]="reactiveForm" (ngSubmit)="addTreasury()">
        <div class="form-group">
            <label for="nameInput">Name:</label>
            <input formControlName="name" class="form-control" id="nameInput" placeholder="Name" />
            <div *ngIf="reactiveForm.get('name').hasError('required') && reactiveForm.get('name').touched" class="text-danger">
                Name is required
            </div>
        </div>

        <div class="form-group">
            <label for="branchSelect">Branch:</label>
            <select formControlName="branchIds" class="form-control" id="branchSelect" title="Branches" multiple>
                <option *ngFor="let branchId of availableBranchIds" [value]="branchId">{{ branchId }}</option>
            </select>
            <div *ngIf="reactiveForm.get('branchIds').hasError('required') && reactiveForm.get('branchIds').touched" class="text-danger">
                Branch is required
            </div>
        </div>

        <div class="form-group">
            <label for="accountIdInput">Account:</label>
            <input formControlName="glAccountId" class="form-control" id="accountIdInput" placeholder="Account" />
            <div *ngIf="reactiveForm.get('glAccountId').hasError('required') && reactiveForm.get('glAccountId').touched" class="text-danger">
                AccountId is required
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add Treasury</button>
        
    </form>
</div>
